:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--dark-1);
}

.monaco {
  width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--dark-3);
}

ngx-monaco-editor {
  flex-grow: 1;
  ::ng-deep {
    .editor-container {
      height: 100% !important;
    }
  }
}

.panel-heading {
  height: 1.5rem;
}

pre {
  padding-top: 20px !important;
  line-height: 19px;
}
