@use "../src/app/components/resizeable-panel.scss";
@use "../styles/reset.css";
@use "../styles/colors.scss";
@use "../styles/layout.scss";
@use "../styles/spacing.scss";
@use "../styles/typography.scss";

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.material-symbols-outlined {
  font-size: 1.6em;
}

button {
  cursor: pointer;
  user-select: none;
  &:hover {
    opacity: 0.8;
  }
}

a {
  color: var(--primary);
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  font-family: Consolas, "Courier New", monospace;
  font-size: 14px;
}
